#Tarea 1° Fundameto De Ciencias De Datos
- Esteban Hernández.
- Matías Hermosilla.
- Seccion 1

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv("/home/_init_/Documentos/Data/FCD/data.csv",sep=";")
print(data)

          id    age  gender  height  weight  ap_hi  ap_lo  cholesterol  gluc  \
0          0  18393       2     168    62.0    110     80            1     1
1          1  20228       1     156    85.0    140     90            3     1
2          2  18857       1     165    64.0    130     70            3     1
3          3  17623       2     169    82.0    150    100            1     1
4          4  17474       1     156    56.0    100     60            1     1
...      ...    ...     ...     ...     ...    ...    ...          ...   ...
69995  99993  19240       2     168    76.0    120     80            1     1
69996  99995  22601       1     158   126.0    140     90            2     2
69997  99996  19066       2     183   105.0    180     90            3     1
69998  99998  22431       1     163    72.0    135     80            1     2
69999  99999  20540       1     170    72.0    120     80            2     1

       smoke  alco  active  cardio
0          0     0       1       0
1          0     0       1       1
2          0     0       0       1
3          0     0       1       1
4          0     0       0       0
...      ...   ...     ...     ...
69995      1     0       1       0
69996      0     0       1       1
69997      0     1       0       1
69998      0     0       0       1
69999      0     0       1       0

[70000 rows x 13 columns]

## Variables
*   Id: Ordinal.
*   Edad: Ratio.
*   Género: Nominal.
*   Altura: Ratio.
*   Peso: Ratio.
*   Ap_hi:Interval.
*   Ap_lo:Interval.
*   Colesterol: Ordinal.
*   Glucosa: Ordinal.
*   Fumador: Nominal.
*   Bebe: Nominal.
*   Actividad Física: Nominal.
*   E.Cardiovascular: Nominal.

##Discretización

In [6]:
peso=pd.cut(data["weight"], bins=[10,40,70,100,130,170,200])
print(pd.cut(data["weight"], bins=[10,40,70,100,130,170,200]).value_counts())

(70, 100]     34134
(40, 70]      32521
(100, 130]     3049
(130, 170]      187
(10, 40]         93
(170, 200]       15
Name: weight, dtype: int64

Se utilizó la variable Peso, discretizada por los cuantiles de los datos tomando como máximo el mayor valor y como mínimo el menor valor.
La variable peso tendria relación directa con  la condicion física de la persona y diversas condiciones de salud.

##Errores

Analizando los datos, se pudo determinar un patrón en las variables ap_hi y ap_lo, tomando como premisa que ap_hi necesariamente debe ser mayor que ap_lo. A partir de esto identificamos errores en estas variables, ya que algunas muestran un valor mayor en la variable ap_lo y uno menor en la variable ap_hi, lo que se repite en 1234 datos.

In [7]:
data_error = data["ap_hi"] < data["ap_lo"]
print(pd.value_counts(data_error))

False    68766
True      1234
dtype: int64